.resourceLogo {
    height: 50px;
    padding: 20px;
}
.photoUrl {
    height: 300px;
}
.main {
    border-bottom: solid gold 2px;
    padding: 20px;
}
.buttonWrapper {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    font-size: 30px;
    text-align: center;
}
