.app-wrapper{
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}
.header{
grid-area: h;
background-color: lawngreen;
}
.header img{
  width: 40px;
  height: 40px;
}
.nav{
  background-color:lightblue;
  grid-area: n;

}
.content{
  background-color: green;
  grid-area: c;

}